/* remove blue background de links em mobile */
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*********************** dark mode switch *******************/
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    float: right;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 1rem;
}


.label-text {
    margin-left: 16px;
}
  
.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255,255, 255, 0.2);
    text-decoration: none;
    outline: 0;
    border: 0;
}

.toggle-state {
    display: none;
}
  
.indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
      -8px -4px 8px 0px #ffffff,
}
  
.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
}

.sun {
    font-size: 1.5rem;
    
    color: white;
}

.moon {
    display: none;
}
