/*********************** formulário login *******************/
/*fundo*/
.bg{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
}

/* box de login*/
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 40%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: bk;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
    
}
/* titulo do login */
.login-title {
    text-align: center;
    color: white;
    margin-bottom: .5rem;
}

/* text box do usuário */
.user-input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

/* botão entrar */
.login-button1 {
    background-color: rgb(47, 161, 156);
    width: 5rem;
    height: 2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 50px;
    margin-top: 1.5rem;
}


/*********************** formulário cadastro *********************/
.cadastro-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 65%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: bk;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
    display: none;
}

.cadastro-title {
    text-align: center;
    color: white;
    margin-bottom: .5rem;
}

.cadastro-button1 {
    text-decoration: none;
    color: white;
    background: transparent;
}
